
<div class="container">
  <!-- Section: Contact v.3 -->
  <section class="contact-section my-6">
    <!-- Form with header -->
    <h1 class="display-4">Contacts!</h1>
    <div class="card">
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8">

          <div class="card-body form">

            <!-- Header -->
            <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to us:</h3>
            <form [formGroup]="contactForm" >

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input formControlName="name" type="text" id="form-contact-name" class="form-control"  mdbInputDirective>
                    <label for="form-contact-name" class="">Your name</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="email" id="form-contact-email" class="form-control" formControlName="email" mdbInputDirective>
                    <label for="form-contact-email" class="">Your email</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-company" class="form-control" formControlName="country" mdbInputDirective>
                    <label for="form-contact-company" class="">Your company</label>
                  </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-phone" class="form-control" formControlName="phoneNo" mdbInputDirective>
                    <label for="form-contact-phone" class="">Your phone</label>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                  <textarea type="text" id="form-contact-message" class="form-control md-textarea" formControlName="message" rows="3"
                            mdbInputDirective></textarea>
                    <label for="form-contact-message">Your message</label>
                    <br>
                    <a mdbBtn floating="true" size="lg" color="blue-grey" (click)="sendDetails()" mdbWavesEffect>
                      <i class="far fa-paper-plane" style="padding-right: 20px">  </i>Send
                    </a>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->
            </form>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4">

          <div class="card-body contact text-center blue-grey h-100 white-text">

            <h3 class="my-4 pb-2">Contact information</h3>
            <ul class="text-lg-left list-unstyled ml-4">
              <li>
                <p><i class="fas fa-map-marked pr-2"></i>Dar Es Salaam, 94126, TZ</p>
              </li>
              <li>
                <p><i class="fas fa-phone pr-2"></i>+ 255 716 729 344</p>
              </li>
              <li>
                <p><i class="fas fa-envelope pr-2"></i>mkaaokra@gmail.com</p>
              </li>
            </ul>
            <hr class="hr-light my-4">
            <ul class="list-inline text-center list-unstyled">
              <li class="list-inline-item">
                <a class="p-2 fa-lg tw-ic">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 fa-lg li-ic">
                  <i class="fab fa-facebook"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-instagram"> </i>
                </a>
              </li>
            </ul>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Form with header -->

  </section>
  <!-- Section: Contact v.3 -->
</div>
